
/* ===== Primary Styles ========================================================
   Common
   ========================================================================== */
   

#main{
	width: 1024px;
	margin: 0 auto;
}
	
.maincontent{
	width: 78%;
	float: left;
	background: #fff;
}

.sidebar{
	width: 22%;
	float: right;
}

.inner{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	padding: 20px;
	margin-bottom: 0;
}

/* =============================================================================
   Misc
   ========================================================================== */


.clearall{
	content: ".";
	clear: both;
	visibility: hidden;
	margin: 0;
	padding: 0;
}
   
hr 
{     
  display: block;     
  height: 0;     
  margin: 0;     
  _margin: -7px 0;     
  padding: 0;     
  border: 0;  
  clear: both;   
  visibility: hidden; 
} 

