/*======================================
	Main
=======================================*/

body{
	background: #999999;
}

a, a:hover, a:active, a:visited{
	color: #ED3C95;
    text-decoration: none;
}

h1,h2,h3,h4,h5{
	margin: 0 0 10px 0;
}

h1{
	color: #ED3C95;
}

h3{
	font-size: 1.1em;
}

h4{
	font-size: 0.8em;
	font-weight: bold;
}

h5{
	font-size: 0.75em;
	font-weight: bold;
}

img{
	max-width: 100%;
}

p{
	font-size: 12px;
	line-height: 18px;
}

form{
	margin: 0;
}

form input[type="submit"]{
	margin-bottom: 0;
	background: #333333;
	border-color: #2e2e2e;
}

form input[type="submit"]:hover{
	background: #2e2e2e;
}


/*======================================
	Main Blocks
=======================================*/

#main{
	background: #b2b2b2 url("../../images/matrimonial/bg-wrapper.png") repeat-y; /* Old browsers */
}

#content{
	background: #fff;
}

#header{
	background: #333333;
}

	#header h1{
		font-size: 20px;
		margin-bottom: 0;
	}

#photo{
	height: 170px;
}

footer{
	text-align: center;
	font-size: 12px;
	line-height: 20px;
	margin-top: 20px;
	position: absolute;
	bottom: 0;
	width: 769px;
}


/*======================================
	Navigation
=======================================*/

#menu-principal{
	line-height: 2.1em;
}

	#menu-principal a{
		margin-right: 30px;
	}

#breadcrumbs{
	padding: 15px 20px 10px 20px;
	font-size: 11px;
}

/*======================================
	Search
=======================================*/

.searchform
{
	position: relative;
}

.searchform input[type="text"]{
	position: relative;
	z-index: 1;
	text-indent: 25px;
	margin-bottom: 0;
}

.searchform input[type="submit"]{
	position: absolute;
	border: none;
	background: url("../../images/matrimonial/btn-go.png") 1px 1px no-repeat;
	text-indent: -999px;
	left: 1px;
	top: 1px;
	z-index: 10;
	height: 30px;
	width: 28px;
}

.searchform input[type="submit"]:hover{
	background: url("../../images/matrimonial/btn-go.png") 1px 3px no-repeat;
}

/*======================================
	Content
=======================================*/

.colorSection{
	background: #cccccc;
}

/*======================================
	Misc
=======================================*/

.upMarge{
	margin-top: 20px;
}

.noPadding{
	padding-left: 0;
}

.line{
	line-height: 30px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;
}


/*======================================
	Sidebar
=======================================*/


.colorBlock{
	background: #FF99CC;
}

	.colorBlock h5{
		margin: 0 0 5px 0;
		color: #fff;
	}

h3.link{
	margin-bottom: 0;
}

a.newsletterLink:hover, a.newsletterLink:active, a.newsletterLink:visited{
	color: #ffffff;
}

.newsletterLink{
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    padding: 5px 20px;
    margin-right: 5px;
    display: block;
    background: url("../../images/matrimonial/close.png") center right no-repeat;
}

.toggleActive{
    background: url("../../images/matrimonial/open.png") center right no-repeat;
}

.toggleNewsletter{
	background: #cccccc;
	padding: 5px 20px;
}

.toggleNewsletter ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

.toggleNewsletter ul li a{
	color: #000;
	font-size: 12px;
	line-height: 18px;
}


.toggleNewsletter ul li a:hover{
	text-decoration: underline;
}

