.panel-heading .options .btn {
    line-height: 1em !important;
    opacity: 1;
    padding-bottom: 5px;
    padding-top: 5px;
}

.panel-gray .panel-heading .options a.btn {
    color: #fff !important;
}

.badge.blank {
	background: #fff;
	color: #000;
	margin-left: 5px;
    font-size: 10px;
    padding: 3px 4px 3px;
}

.mini-footer .btn-group .btn
{
	font-weight: normal;
	font-size: 13px;
}

.panel[class*="panel-"] .mini-footer {
    padding: 10px;
}

.event-thumb{
    margin-right: 15px;
    max-width: 50px;
    float: left;
}

.panel .event-info{
	min-height: 112px;
}

.tab-container .tab-content {
    padding: 30px 15px 10px;
}

.focusedform .verticalcenter {
    left: 50%;
    margin-left: -200px;
    margin-top: -186px;
    position: absolute;
    top: 42%;
}

.focusedform .verticalcenterbig{
	margin-left: -330px;
}

.inner{
	padding: 20px 0;
}

.panel-body {
	position: relative;
}

.admin-icon-options{
    display: block;
    margin: 0 auto;
	padding-left: 5px;
    width: 140px;
}

.admin-icon-panel{
	text-align: center;
}

.admin-icon-panel p{
	margin-bottom: 5px;
}

.admin-panel-images{
	position: relative;
	width: 80px;
	height: 80px;
	display: block;
	margin: 0 auto;
}

.admin-panel-images img{
	position: absolute;
	top: 0;
	left: 0;
	width: 90px;
	clip: rect(0px, 80px, 80px, 0px);
}

.datepicker{
	width: 200px;
}

.uploadFile{
	border: none;
	width: 150px;
	margin: 0 auto;
	display: none;
	margin-bottom: 10px;
	background: none;
	margin-bottom: 5px;
	text-align: center;
}

.fileUpload {
	position: relative;
	overflow: hidden;
}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

.sortable li .btn{
	float: right;
}
