/* ===== Primary Styles ===============
   Bail
======================================= */
/* line 11, main.scss */
body {
  background: #b2b2b2 url("../../images/pubdroit/fond.jpg") repeat;
  font-family: Arial,Verdana,Helvetica,sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

/* line 20, main.scss */
a, a:hover, a:active, a:visited {
  font-size: 13px;
}

/* line 24, main.scss */
p {
  font-size: 13px;
}

/*======================================
	Main Blocks
=======================================*/
/* line 32, main.scss */
#mainpubdroit {
  width: 1140px;
  margin: 0 auto;
  position: relative;
}

/* line 38, main.scss */
.colorBlock {
  background: #cb2629;
}

/* line 46, main.scss */
#entete {
  height: 143px;
  background: url("../../images/pubdroit/headerBg.png") no-repeat;
}

/* line 51, main.scss */
#entete div a {
  color: #fff;
  font-size: 13px;
}

/* line 56, main.scss */
#entete .illustration {
  width: 490px;
  float: left;
}

/* line 61, main.scss */
#entete .logo, #entete .master {
  width: 220px;
  float: left;
  height: 143px;
  padding: 20px 15px;
}

/* line 68, main.scss */
#entete .master {
  padding: 20px 9px;
}

/* line 72, main.scss */
#entete .master a {
  background: url("../../images/pubdroit/mastersBtn.png") right center no-repeat;
  padding-right: 27px;
  display: block;
}

/* line 78, main.scss */
#entete .profileBlock {
  width: 210px;
  float: left;
  height: 143px;
  padding: 20px 30px;
}

/* line 85, main.scss */
#entete .profileBlock a {
  line-height: 25px;
  height: 25px;
  display: block;
  padding-right: 30px;
}

/* line 92, main.scss */
#entete .profileBlock a.loginBtn {
  background: url("../../images/pubdroit/loginBtn.png") right center no-repeat;
}

/* line 96, main.scss */
#entete .profileBlock a.newsletterBtn {
  background: url("../../images/pubdroit/newsletterBtn.png") right center no-repeat;
}

/*======================================
	Search
=======================================*/
/* line 105, main.scss */
.searchform {
  position: relative;
  margin-bottom: 0;
  float: right;
}

/* line 111, main.scss */
.searchform input[type="text"] {
  border: 0 none;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  color: #6A6F75;
  margin: 8px 0;
  padding: 4px 30px 4px 20px;
  position: relative;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  width: 180px;
  height: 24px;
}

/* line 124, main.scss */
.searchform input[type="submit"] {
  background: url("../../images/pubdroit/search.png") no-repeat scroll 2px 5px rgba(0, 0, 0, 0);
  border: medium none;
  height: 25px;
  left: 3px;
  position: absolute;
  text-indent: -999px;
  top: 9px;
  width: 28px;
  z-index: 10;
}

/* line 136, main.scss */
.searchform input[type="submit"]:hover {
  background: url("../../images/pubdroit/search.png") 2px 5px no-repeat;
}

/*======================================
	Filter
=======================================*/
/* line 144, main.scss */
#filters {
  margin: 0;
  padding: 5px 20px;
}

/* line 149, main.scss */
#filters li {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 156, main.scss */
#filters li select {
  width: 160px;
}

/* line 160, main.scss */
#filters li a {
  color: #fff;
  font-size: 13px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
}

/* line 167, main.scss */
#filters li a.reinit {
  display: block;
  height: 26px;
  padding: 0 10px;
  position: relative;
  white-space: nowrap;
  line-height: 26px;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  background: #6a6b6e;
  margin: 0 15px;
}

/*======================================
	Navigation
=======================================*/
/* line 185, main.scss */
#menu {
  height: 40px;
  line-height: 40px;
  background: #6a6b6e;
}

/* line 191, main.scss */
#menu-principal {
  height: 40px;
  overflow: hidden;
}

/* line 196, main.scss */
#menu-principal > a {
  color: #FFFFFF;
  display: inline-block;
  font-size: 13px;
  line-height: 40px;
  margin-right: 40px;
  padding: 0 15px;
  background: #6a6b6e;
}

/* line 206, main.scss */
#menu-principal a:hover, #menu-principal a.active {
  background: #929495;
}

/* line 214, main.scss */
#menu-principal a.noborder:after {
  border: none;
  content: "";
  padding: 0;
}

/* line 220, main.scss */
#menu-secondary {
  height: 40px;
  clear: both;
  line-height: 40px;
  background: #929495;
}

/*======================================
	Content shop
=======================================*/
/* line 232, main.scss */
#content-shop {
  display: block;
  min-width: 100%;
  overflow: visible !important;
  padding: 0 8px 0 14px;
}

/* line 239, main.scss */
div.block {
  height: 239px;
  margin-top: 15px;
  width: 172px;
  background: #929495;
}

/* line 245, main.scss */
.holder {
  position: relative;
  width: 172px;
  height: 239px;
  /* Shadow */
  -webkit-box-shadow: 0px 2px 10px #000000;
  -moz-box-shadow: 0px 2px 10px #000000;
  box-shadow: 0px 2px 10px #000000;
}

/* line 255, main.scss */
.holder a {
  position: relative;
  display: block;
}

/* line 260, main.scss */
.shadow {
  /* Shadow */
  -webkit-box-shadow: 0px 2px 10px #000000;
  -moz-box-shadow: 0px 2px 10px #000000;
  box-shadow: 0px 2px 10px #000000;
  display: block;
}

/* line 268, main.scss */
div.block .cover {
  position: absolute;
}

/* line 272, main.scss */
div.block .cover img {
  width: auto;
}

/* line 276, main.scss */
div.block .cover img.big {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 282, main.scss */
div.opened .cover.pageflip-ready {
  cursor: url("../images/magnify.cur"), pointer;
}

/* line 286, main.scss */
div.block .title-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
  background: #fff;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  opacity: 0.8;
}

/* line 299, main.scss */
div.block .title-holder {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 50%;
}

/* line 307, main.scss */
div.block .title {
  position: relative;
  color: #000;
  text-align: center;
  display: block;
  padding: 10px;
  z-index: 900;
}

/* line 316, main.scss */
div.block .teaser {
  color: #4bc2f1;
}

/* line 320, main.scss */
div.block .sold-out {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0;
  text-align: center;
  background: #B8151A;
  padding: 3px;
  color: #fff;
  z-index: 500;
}

/* line 332, main.scss */
div.block .new {
  position: absolute;
  left: 5px;
  top: 5px;
  display: block;
  width: 103px;
  height: 69px;
  background: url("../images/button_new.png");
  z-index: 450;
}

/* line 343, main.scss */
div.block .close {
  position: absolute;
  top: -7px;
  right: -20px;
  display: block;
  width: 39px;
  height: 37px;
  background: url("../images/close.png");
}
