/* ===== Primary Styles =====================================================
   Bail
   ========================================================================== */
/* line 7, main.scss */
body {
  background: #cccccc;
}

/* line 11, main.scss */
img {
  max-width: 100%;
}

/* line 15, main.scss */
h1, h2, h3, h4, h5 {
  margin: 0 0 10px 0;
}

/* line 19, main.scss */
h3 {
  font-size: 0.9em;
  font-weight: bold;
}

/* line 24, main.scss */
h4 {
  font-size: 0.8em;
  font-weight: bold;
}

/* line 29, main.scss */
h5 {
  font-size: 0.75em;
  font-weight: bold;
}

/* line 34, main.scss */
a, a:hover, a:active, a:visited {
  color: #cb2629;
  text-decoration: none;
}

/* line 39, main.scss */
p {
  font-size: 12px;
  line-height: 18px;
}

/* line 44, main.scss */
button.alert:hover, button.alert:focus, .button.alert:hover, .button.alert:focus {
  background-color: #c02326;
}

/*======================================
	Main Blocks
=======================================*/
/* line 52, main.scss */
#main {
  background: #b2b2b2 url("../../images/bail/head_bg.png") repeat-y;
  /* Old browsers */
}

/* line 57, main.scss */
#header {
  background: #fff;
  height: 86px;
}

/* line 62, main.scss */
#breadcrumbs, #breadcrumbs a {
  color: #fff;
  font-size: 12px;
}

/* line 67, main.scss */
#header h1 {
  font-size: 20px;
  margin-top: 15px;
}

/* line 72, main.scss */
.clear:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

/* line 80, main.scss */
footer {
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  margin-top: 20px;
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 78%;
}

/* line 90, main.scss */
footer a {
  color: #fff;
}

/* line 94, main.scss */
.header {
  height: 86px;
}

/* line 98, main.scss */
.colorSection {
  height: 35px;
  line-height: 24px;
}

/* line 104, main.scss */
.min-inner {
  margin: 0;
  padding: 5px 15px;
}

/* line 109, main.scss */
.homepageBlock p {
  text-align: justify;
}

/* line 114, main.scss */
.colorBlock {
  background: #cb2629;
}

/* line 118, main.scss */
.colorBlock h4 {
  margin-top: 5px;
}

/* line 122, main.scss */
.colorBlock h4, .colorBlock a, .colorBlock p {
  color: #fff;
  text-align: left;
}

/* line 127, main.scss */
.colorBlock p {
  color: #f5c8c8;
}

/*======================================
	Search
=======================================*/
/* line 136, main.scss */
.searchform {
  position: relative;
  margin-bottom: 0;
}

/* line 141, main.scss */
.searchform input[type="text"] {
  border-radius: 5px;
  height: 25px;
  margin-bottom: 0;
  padding: 0;
  position: relative;
  text-indent: 5px;
  z-index: 1;
  color: #999999;
}

/* line 152, main.scss */
.searchform input[type="submit"] {
  position: absolute;
  border: none;
  background: url("../../images/bail/search_btn.png") 1px 3px no-repeat;
  text-indent: -999px;
  right: 1px;
  top: 1px;
  z-index: 10;
  height: 25px;
  width: 28px;
}

/* line 164, main.scss */
.searchform input[type="submit"]:hover {
  background: url("../../images/bail/search_btn.png") 1px 3px no-repeat;
}

/*======================================
	Navigation
=======================================*/
/* line 172, main.scss */
#menu-principal {
  line-height: 70px;
}

/* line 176, main.scss */
#menu-principal > a {
  display: inline-block;
  padding: 0 5px;
  margin-top: 10px;
  font-size: 14px;
  color: #000;
}

/* line 184, main.scss */
#menu-principal > a:hover, #menu-principal > a.active {
  color: #cb2629;
}

/* line 188, main.scss */
#menu-principal > a:after {
  content: "|";
  padding: 0 0 0 15px;
}

/* line 193, main.scss */
#menu-principal a.noborder:after {
  border: none;
  content: "";
  padding: 0;
}

/*======================================
	Sidebar
=======================================*/
/* line 203, main.scss */
h3.link {
  margin-bottom: 0;
}

/* line 207, main.scss */
.searchBg {
  background: #cb2629 url("../../images/bail/search_bg.png") repeat-y;
}

/* line 211, main.scss */
.blockTitle {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
  padding-bottom: 10px;
  padding-top: 10px;
  background: #cb2629 url("../../images/bail/search_bg.png") repeat-y;
}

/* line 221, main.scss */
a.newsletterLink:hover {
  color: #cb2629;
}

/* line 225, main.scss */
.newsletterLink {
  color: #000;
  border-bottom: 1px solid #cb2629;
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
  padding: 5px 0;
  margin-right: 5px;
  display: block;
  background: url("../../images/bail/right_close.png") center right no-repeat;
}

/* line 237, main.scss */
.toggleActive {
  background: url("../../images/bail/right_open.png") center right no-repeat;
  font-weight: bold;
  color: #000;
}

/* line 243, main.scss */
.toggleNewsletter {
  padding: 5px 10px;
  font-size: 11px;
  line-height: 13px;
}

/* line 249, main.scss */
.toggleNewsletter ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 255, main.scss */
.toggleNewsletter ul li {
  line-height: 18px;
}

/* line 259, main.scss */
.toggleNewsletter ul li a {
  color: #000;
  font-size: 12px;
  line-height: 18px;
}

/* line 266, main.scss */
.toggleNewsletter ul li a:hover {
  color: #cb2629;
}

/* line 270, main.scss */
.calculator, .calculator p, .calculator label {
  font-size: 11px;
}

/* line 274, main.scss */
.calculator label {
  margin-top: 15px;
}

/* line 278, main.scss */
.calculator form, .calculator form .tiny {
  margin-bottom: 0;
}

/* line 282, main.scss */
.autorite-canton {
  text-align: center;
}

/******************************************************
* RIGHT
******************************************************/
/* line 289, main.scss */
#rightmenu {
  min-height: 190px;
  padding: 15px 15px;
}

/* line 293, main.scss */
#rightmenu a {
  display: block;
  color: #000;
  text-decoration: none;
}

/* line 299, main.scss */
#rightmenu h4 a {
  font-style: italic;
  font-size: 13px;
  margin-bottom: 3px;
}

/* line 305, main.scss */
#rightmenu a:hover {
  color: #CB2629;
  text-decoration: none;
}

/* line 309, main.scss */
#rightmenu h4 {
  background: url(../../images/bail/right_close.png) 100% 7px no-repeat;
  border-bottom: 1px solid #CB2629;
  display: block;
  margin: 0 0 12px;
  padding: 0;
  font-size: 12px;
  line-height: 15px;
  font-weight: normal;
  text-decoration: none;
  color: #000;
}

/* line 321, main.scss */
#rightmenu h4:last-child {
  margin-bottom: 0;
}

/* line 324, main.scss */
#rightmenu h4.accordion {
  background: url(../../images/bail/right_close.png) 100% 7px no-repeat;
  color: #fff;
  display: block;
  text-decoration: none;
  padding: 0;
}

/* line 331, main.scss */
#rightmenu h4.accordion.active {
  font-weight: bold;
  background: url(../../images/bail/right_open.png) 100% 7px no-repeat;
}

/* line 337, main.scss */
#rightmenu h4 a,
#rightmenu h4 span.a {
  padding: 3px 0;
}

/* line 341, main.scss */
#rightmenu ul.menu {
  margin: 0;
  padding: 0 10px 20px;
  list-style: none;
}

/* line 346, main.scss */
#rightmenu ul.menu li {
  margin: 0;
  font-size: 13px;
}

/* line 350, main.scss */
#rightmenu ul.menu li a.act {
  color: #CB2629;
}

/* line 355, main.scss */
#rightmenu ul.menu2col1,
#rightmenu ul.menu2col2 {
  float: left;
  width: 80px;
  margin: 0;
  padding: 0 10px 20px;
  list-style: none;
}

/* line 363, main.scss */
#rightmenu ul.menu2col1 li,
#rightmenu ul.menu2col2 li {
  margin: 0 0 3px;
}

/* line 367, main.scss */
#rightmenu ul.menu2col1 li a.act,
#rightmenu ul.menu2col2 li a.act {
  color: #CB2629;
}

/* line 372, main.scss */
#right .box {
  margin: 0px 20px 32px;
}

/* line 376, main.scss */
#right .box h4 {
  position: relative;
  left: -20px;
  width: 215px;
  display: block;
  margin: 0;
  height: 25px;
  padding: 11px 20px 2px;
  background: #cb2629 url("../images/search_bg.png") 0 0 repeat-y;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  border: 0;
}

/*** special soutien ***/
/* line 392, main.scss */
#right .soutien .logo {
  padding: 10px 0 0;
  text-align: right;
}

/*** special jurisprudence ***/
/* line 398, main.scss */
.accordionContent.jurisprudence h6, .accordionContent.seminaire h6 {
  margin-top: 0;
}

/* line 401, main.scss */
.accordionContent.jurisprudence .list, .accordionContent.seminaire .list {
  margin: 0 0 20px;
  list-style: none;
}

/* line 405, main.scss */
.accordionContent.jurisprudence .list li, .accordionContent.seminaire .list li {
  position: relative;
}

/* line 408, main.scss */
.accordionContent.jurisprudence .list li a, .accordionContent.seminaire .list li a {
  display: block;
  height: 15px;
  padding: 0 0 0 20px;
  margin-bottom: 6px;
  font-size: 13px;
  text-decoration: none;
  background: url("../../images/bail/check.png") 0 0 no-repeat;
}

/* line 417, main.scss */
.accordionContent.jurisprudence .list li a:hover, .accordionContent.seminaire .list li a:hover {
  text-decoration: underline;
  color: #B80E1D;
}

/* line 421, main.scss */
.accordionContent.jurisprudence .list li a.active, .accordionContent.seminaire .list li a.active {
  text-decoration: underline;
  color: #B80E1D;
  background: url("../../images/bail/check.png") 0 -26px no-repeat;
}

/*** special seminaire ***/
/* line 429, main.scss */
#seminaires .sujets .col {
  float: left;
}

/* line 432, main.scss */
#seminaires .sujets .sujet {
  padding: 10px 0;
  border-bottom: 1px solid #B80E1D;
}

/* line 436, main.scss */
#seminaires .sujets .category {
  width: 90px;
  margin-right: 4px;
}

/* line 440, main.scss */
#seminaires .sujets .edition {
  width: 110px;
  margin-right: 4px;
}

/* line 444, main.scss */
#seminaires .sujets .annee {
  width: 33px;
  margin-right: 4px;
}

/* line 448, main.scss */
#seminaires .sujets .catTitle .annee strong {
  position: relative;
  left: -4px;
}

/* line 452, main.scss */
#seminaires .sujets .desc {
  width: 200px;
  margin-right: 4px;
}

/* line 456, main.scss */
#seminaires .sujets .auteur {
  width: 100px;
  margin-right: 4px;
}

/* line 460, main.scss */
#seminaires .sujets .order {
  width: 72px;
}

/* line 464, main.scss */
.ui-accordion .ui-accordion-content {
  padding: 0;
}

/* line 469, main.scss */
.ui-accordion-header-active.ui-state-active a {
  font-weight: bold;
}

/* line 473, main.scss */
.chzn-container-multi .chzn-choices .search-field .default {
  color: #999999;
}

/* line 476, main.scss */
.chzn-container-multi .chzn-choices .search-field input {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
  border: 0 none !important;
  box-shadow: none;
  color: #666666;
  margin: 1px 0;
  outline: 0 none;
  padding: 5px;
}

/* line 486, main.scss */
.filtre h6 {
  color: #666666;
  font-size: 12px;
  font-weight: bold;
  padding: 0;
}

/******************************************************
* Calculette
******************************************************/
/* line 495, main.scss */
#bail_calculette .line {
  clear: both;
}

/* line 498, main.scss */
#bail_calculette .line label {
  display: block;
  float: left;
  width: 206px;
  margin: 10px 10px 3px 0;
}

/* line 504, main.scss */
#bail_calculette .line input[type=text], #bail_calculette .line input[type=submit], #bail_calculette .line select {
  float: left;
  width: 215px;
  background: #fff;
  border: 1px solid #a7a5a5;
}

/* line 510, main.scss */
#bail_calculette .line.submit {
  padding: 15px 0 0 0;
  text-align: center;
}

/* line 515, main.scss */
#bail_calculette .line.submit input#calculette_submit {
  width: auto;
  background: #CB2629;
  color: #fff;
  border: 1px solid #CB2629;
  padding: 2px 10px;
  cursor: pointer;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -khtml-box-sizing: content-box;
  box-sizing: content-box;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  /*
  behavior: url(PIE.htc);
  */
}

/* line 535, main.scss */
#bail_calculette .zone {
  width: 230px;
  margin-top: 30px;
}

/* line 539, main.scss */
#bail_calculette .zone .line {
  margin-bottom: 6px;
}

/* line 542, main.scss */
#bail_calculette .zone .line.result {
  height: 45px;
}

/* line 545, main.scss */
#bail_calculette .zone .line.gris {
  color: #999;
  font-size: 11px;
}

/* line 549, main.scss */
#bail_calculette .zone .label {
  display: block;
  float: left;
  width: 160px;
  margin: 0 10px 0 0;
}

/* line 555, main.scss */
#bail_calculette .zone .value {
  display: block;
  float: left;
}

/* line 559, main.scss */
#bail_calculette .zone .date {
  display: block;
  clear: both;
  color: #999;
  font-size: 11px;
}

/* line 565, main.scss */
#bail_calculette .result {
  font-weight: bold;
}

/* line 568, main.scss */
#bail_calculette .result .difference {
  font-weight: normal;
}

/*======================================
	Arrets
=======================================*/
/* line 577, main.scss */
.arret {
  margin-bottom: 25px;
}

/* line 581, main.scss */
.arret p, .arret ul {
  margin-bottom: 10px;
}

/* line 585, main.scss */
.arret ul li {
  font-size: 13px;
}

/*======================================
	Misc
=======================================*/
/* line 593, main.scss */
.upMarge {
  margin-top: 15px;
}

/* line 597, main.scss */
.line {
  line-height: 30px;
  margin-bottom: 20px;
  border-bottom: 1px solid #cb2629;
}
