$primary-red: #cb2629;

/* ===== Primary Styles =====================================================
   Bail
   ========================================================================== */
   
body{
	background: #cccccc;
}

h1,h2,h3,h4,h5{
	margin: 0 0 10px 0;
}

h3{
	font-size: 1.1em;
}

h4{
	font-size: 0.8em;
	font-weight: bold;
}

h5{
	font-size: 0.75em;
	font-weight: bold;
}

a, a:hover, a:active, a:visited{
	color: $primary-red;
    text-decoration: none;
}

p{
	font-size: 12px;
	line-height: 18px;
}

button.alert:hover, button.alert:focus, .button.alert:hover, .button.alert:focus {
    background-color: #c02326; 
}

/*======================================
	Main Blocks
=======================================*/

#main{
	background: #b2b2b2 url("../../images/bail/head_bg.png") repeat-y; /* Old browsers */
}


#header{
	background: #fff;
	height: 86px;
}

#breadcrumbs, #breadcrumbs a{
	color: #fff;
	font-size: 12px;
}

	#header h1{
		font-size: 20px;
		margin-top: 15px;
	}

.content{
	background: #f0b4b4;
}


footer{
	text-align: center;
	font-size: 12px;
	line-height: 16px;
	margin-top: 20px;
	color: #fff;
	position: absolute;
	bottom: 0;
	width: 78%;
}
	footer a{
		color: #fff;
	}

.header{
	height: 86px;
}

.colorSection{
	height: 35px;
	line-height: 24px;
}


.min-inner{
	margin: 0;
	padding: 5px 15px;
}

.homepageBlock p{
	text-align: justify;
}


.colorBlock{
    background: $primary-red;
}

	.colorBlock h4{
	    margin-top: 5px;
	}
	
	.colorBlock h4,.colorBlock a,.colorBlock p{
	    color: #fff;
	    text-align: left;
	}
	
	.colorBlock p{
		color:#f5c8c8;
	}
	
/*======================================
	Search
=======================================*/

.searchform
{
	position: relative;
	margin-bottom: 0;
}

.searchform input[type="text"]{
    border-radius: 5px;
    height: 25px;
    margin-bottom: 0;
    padding: 0;
    position: relative;
    text-indent: 5px;
    z-index: 1;
    color: #999999;
}

.searchform input[type="submit"]{
	position: absolute;
	border: none;
	background: url("../../images/bail/search_btn.png") 1px 3px no-repeat;
	text-indent: -999px;
	right: 1px;
	top: 1px;
	z-index: 10;
	height: 25px;
	width: 28px;
}

.searchform input[type="submit"]:hover{
	background: url("../../images/bail/search_btn.png") 1px 3px no-repeat;
}

/*======================================
	Navigation
=======================================*/

#menu-principal{
	line-height: 70px;
} 
 
#menu-principal > a{
	display: inline-block;
	padding: 0 5px;
	margin-top: 10px;
	font-size: 14px;
	color: #000;
} 

#menu-principal > a:hover,#menu-principal > a.active{
	color: $primary-red;
} 

#menu-principal > a:after{
	content: "|";
	padding: 0 0 0 15px;
} 

#menu-principal a.noborder:after{
	border: none;
	content: "";
	padding: 0;
}

/*======================================
	Sidebar
=======================================*/

h3.link{
	margin-bottom: 0;
}

.searchBg{
	background:$primary-red url("../../images/bail/search_bg.png") repeat-y;	
}

.blockTitle{
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	font-style: italic;
	padding-bottom: 10px;
	padding-top: 10px;
	background:$primary-red url("../../images/bail/search_bg.png") repeat-y;
}

a.newsletterLink:hover{
	color: $primary-red;
}

.newsletterLink{
    color: #000;
    border-bottom: 1px solid $primary-red;
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
    padding: 5px 0;
    margin-right: 5px;
    display: block;
    background: url("../../images/bail/right_close.png") center right no-repeat;
}

.toggleActive{
    background: url("../../images/bail/right_open.png") center right no-repeat;
    font-weight: bold;
    color: #000;
}

.toggleNewsletter{
	padding: 5px 10px;
	font-size: 11px;
	line-height: 13px;
}

.toggleNewsletter ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

.toggleNewsletter ul li{
	line-height: 18px;
}

.toggleNewsletter ul li a{
	color: #000;
	font-size: 12px;
	line-height: 18px;
}


.toggleNewsletter ul li a:hover{
	color: $primary-red;
}

.calculator, .calculator p, .calculator label{
	font-size: 11px;
}

.calculator label{
	margin-top: 15px;
}

.calculator form, .calculator form .tiny{
	margin-bottom: 0;
}

.autorite-canton{
	text-align: center;
}

/*======================================
	Misc
=======================================*/

.upMarge{
	margin-top: 15px;
}

.line{
	line-height: 30px;
	margin-bottom: 20px;
	border-bottom: 1px solid $primary-red;
}
